<div class="mainBox">
   
    <div class="container">
   <div class="row">
     <div class="col-md-5 marginAuto">
      <h5>User Login</h5>
      <form>
         <div class="row">
          <div class="col-md-12">
            <div class="input-group flex-nowrap mB10">
              <span class="input-group-text" id="addon-wrapping">@</span>
              <input type="text" class="form-control" placeholder="Username / Email" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-group flex-nowrap mB10">
              <span class="input-group-text" id="addon-wrapping">@</span>
              <input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
          </div>
          <div class="col-md-6 text-left">
         
              <a routerLink="/forgot" class=" btn-dark ms-2">Forgot Password</a>
          </div>
          <div class="col-md-6 text-right">
            <a routerLink="/sign-up" class=" btn-dark ms-2">Create new account</a>
          </div>
          <div class="col-md-12 btnLogin">
            <button type="button" class="btn btn-primary">Login</button>
          </div>

         </div>
         
          
          
      </form> 
     </div>
   
   </div>
    </div>
</div> 
